/*задание стилей*/
/*todo - убрать лишние цвета (нужны для отладки)*/
.label {
    -fx-padding: 5px;
}

.temp-table-pane{
    -fx-padding: 20px;
    /*-fx-background-color: pink;*/
}

.info-table {
    -fx-background-color: white;
    -fx-padding: 20px;
}

.info-table > .label {
    -fx-font-weight: bold;
    -fx-min-width: 240px;
    -fx-border-color: black;
    -fx-border-width: 1px;

}

.info-table > .text-field {
    -fx-pref-width: 300px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.info-table > .text-area {
    -fx-pref-row-count: 5;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.chart-pane {
    /*-fx-background-color: yellow;*/
}

.chart-pane > .chart-wrapper {
    /*-fx-background-color: pink;*/
    -fx-padding: 10px;
}

.owen-chart {
    -fx-max-width: 1000px;
    -fx-pref-height: 600px;
}

.chart-label {
    -fx-pref-width: 200px;
    -fx-font-weight: bold;
}

.main-chart-label {
    -fx-pref-width: 1000px;
    -fx-font-size: 18px;
    -fx-alignment: center;
    /*-fx-background-color: red;*/
}

.chart {
    -fx-pref-width: 900px;
    -fx-legend-side: right;
}

.temp-table {
    -fx-pref-width: 720px;
    -fx-pref-height: 600px;
}

.table-column {
    -fx-pref-width: 180px;
}




